<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/contact.css')}}"
    />
    <nav>
      <ul>
        <li><a href="/">Sign in</a></li>
        <li class="active"><a href="Contact">Contact</a></li>
        <li><a href="About">About</a></li>
        <li><a href="lib.html">Home</a></li>
        <li>HDR</li>
      </ul>
    </nav>
  </head>
  <body>
    <h1>HANDWRITTEN DIGIT RECOGNITION SYSTEM</h1>
    <p>
      Team ID : PNT2022TMID24883 Team Lead : Moniessh P M1 Lead : Kishore Kumar
      L M2 Lead : Shyam Gopal M3 Lead : Tarun K
    </p>
  </body>
</html>
