<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/about.css')}}"
    />
    <nav>
      <ul>
        <li><a href="/">Sign in</a></li>
        <li><a href="Contact">Contact</a></li>
        <li class="active"><a href="About">About</a></li>
        <li><a href="lib.html">Home</a></li>
        <li>HDR</li>
      </ul>
    </nav>
  </head>
  <body>
    <h1><center>HANDWRITTEN DIGIT RECOGNITION SYSTEM</center></h1>
    <p>
      <center>
        Handwritten digit recognition using MNIST dataset is a major project
        made with the help of Neural Network. It basically detects the scanned
        images of handwritten digits. We have taken this a step further where
        our handwritten digit recognition system not only detects scanned images
        of handwritten digits but also allows writing digits on the screen with
        the help of an integrated GUI for recognition.
      </center>
    </p>
  </body>
</html>
